<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product 
    Id="de61293f-90c5-45f5-b15d-4312875ab88f" 
    Name="Custom Dialog" 
    Language="1033" 
    Codepage="1252"
    Version="1.0.0.0" 
    Manufacturer="Dialog Designer" 
    UpgradeCode="344f2a9d-119d-46ca-8269-70da9a5f1142">
    
    <Package 
      Id="*"
      Keywords="Installer"
      Description="Custom Dialog Installer"
      Comments="Custom Dialog is a registered trademark of Dialog Designer"
      Manufacturer="Dialog Designer"
      InstallerVersion="200"
      Languages='1033'
      Compressed="no"
      SummaryCodepage='1252'
    />
    
    <Media Id="1"/>
    
    <UI Id="CustomDlg">
      <!-- Required to be initialized to settings -->
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />
      
      <!-- Built-in dialogs required -->
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="UserExit" />
      
      <!-- Default exit that always exist -->
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
    
      <Dialog Id="ADlg" Width="370" Height="270" Title="Custom Dialog A">
        <Control Id="Title" Type="Text" X="130" Y="6" Width="225" Height="30" Transparent="yes" NoPrefix="yes" Text="Custom Dialog A" TabSkip="no" />
        
        <Control Id="Back" Type="PushButton" X="156" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" >
          <Publish Property="WixUI_InstallMode" Value="Update">Installed AND PATCH</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
      
      <InstallUISequence>
        <Show Dialog="ADlg" Before="ProgressDlg">NOT Installed</Show>
      </InstallUISequence>
    </UI>
    
    <UIRef Id="WixUI_Common" />
  </Product>
</Wix>