<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product 
    Id="de61293f-90c5-45f5-b15d-4312875ab88f" 
    Name="Custom Dialog" 
    Language="1033" 
    Codepage="1252"
    Version="1.0.0.0" 
    Manufacturer="Dialog Designer" 
    UpgradeCode="344f2a9d-119d-46ca-8269-70da9a5f1142">
    
    <Package 
      Id="*"
      Keywords="Installer"
      Description="Custom Dialog Installer"
      Comments="Custom Dialog is a registered trademark of Dialog Designer"
      Manufacturer="Dialog Designer"
      InstallerVersion="200"
      Languages='1033'
      Compressed="no"
      SummaryCodepage='1252'
    />
    
    <Media Id="1"/>
    
    <UI Id="CustomDlg">
      <!-- Required to be initialized to settings -->
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="9" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="10" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />
      
      <!-- Built-in dialogs required -->
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="UserExit" />
      
      <!-- Custom dialogs -->
      <DialogRef Id="ADlg" />
      <DialogRef Id="BDlg" />
      
      <!-- Default exit that always exist -->
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      
      <Publish Dialog="ADlg" Control="Next" Event="NewDialog" Value="BDlg">NOT Installed</Publish>
      <Publish Dialog="BDlg" Control="Back" Event="NewDialog" Value="ADlg" Order="2">NOT Installed</Publish>
      
      <InstallUISequence>
        <Show Dialog="ADlg" Before="ProgressDlg">NOT Installed</Show>
      </InstallUISequence>
    </UI>
    
    <UIRef Id="WixUI_Common" />
  </Product>
</Wix>