<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product 
    Id="de61293f-90c5-45f5-b15d-4312875ab88f" 
    Name="Custom Dialog" 
    Language="1033" 
    Codepage="1252"
    Version="1.0.0.0" 
    Manufacturer="Dialog Designer" 
    UpgradeCode="344f2a9d-119d-46ca-8269-70da9a5f1142">
    
    <Package 
      Id="*"
      Keywords="Installer"
      Description="Custom Dialog Installer"
      Comments="Custom Dialog is a registered trademark of Dialog Designer"
      Manufacturer="Dialog Designer"
      InstallerVersion="200"
      Languages='1033'
      Compressed="no"
      SummaryCodepage='1252'
    />
    
    <Media Id="1"/>
    
    <UI Id="CustomDlg">
      <!-- Required to be initialized to settings -->
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="9" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="10" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />
      
      <!-- Built-in dialogs required -->
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="UserExit" />
      
      <!-- Default exit that always exist -->
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      
      <Publish Dialog="ADlg" Control="Next" Event="NewDialog" Value="BDlg">NOT Installed</Publish>
      <Publish Dialog="BDlg" Control="Back" Event="NewDialog" Value="ADlg" Order="2">NOT Installed</Publish>
      
      <Property Id="OwnerName" Value="default value" />
    
      <Dialog Id="ADlg" Width="370" Height="270" Title="Custom Dialog A">
        <Control Id="Title" Type="Text" X="130" Y="6" Width="225" Height="30" Transparent="yes" NoPrefix="yes" Text="Custom Dialog A" />
        
        <Control Id="OwnerEdit" Type="Edit" X="8" Y="18" Width="225" Height="16" Indirect="no" Property="OwnerName" />
        
        <Control Id="Back" Type="PushButton" X="156" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" >
          <Publish Event="NewDialog" Value="BDlg">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
      
      <Dialog Id="BDlg" Width="370" Height="270" Title="Custom Dialog B">
        <Control Id="Title" Type="Text" X="130" Y="6" Width="225" Height="30" Transparent="yes" NoPrefix="yes" Text="Custom Dialog B" />
        
        <Control Id="OwnerText" Type="Text" X="8" Y="18" Width="225" Height="30" Transparent="yes" NoPrefix="yes" Text="[OwnerName]" />
        
        <Control Id="Back" Type="PushButton" X="156" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUIBack)">
          <Publish Event="NewDialog" Value="ADlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUINext)" ></Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
      
      <InstallUISequence>
        <Show Dialog="ADlg" Before="ProgressDlg">NOT Installed</Show>
      </InstallUISequence>
    </UI>
    
    <UIRef Id="WixUI_Common" />
  </Product>
</Wix>