go/my-server/my-server
go/my-server/go.sum
go/my-server/static/archive.zip

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js
.pnp.cjs
.pnp.loader.mjs

# testing
react/my-app/coverage

# production
react/my-app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json
.yarn/
yarn.lock
.yarnrc.yml

windows/explorer-context-menu/*.ico

windows/installer/**/*.exe
windows/installer/**/*.msi
windows/installer/wix/**/*.wixobj
windows/installer/wix/**/*.wixpdb
windows/installer/wix/**/*.cab
windows/installer/wix/**/*.msi
windows/installer/wix/**/build

rust/**/*.exe
rust/**/*.rlib
rust/**/target/

go/filetime/*.exe

docker/.vagrant

go/wreck/bin/
go/wreck/test/
go/wreck/out/

cpp/winapi/**/*.exe
cpp/winapi/**/*.o
cpp/winapi/**/*.dev
cpp/winapi/**/*.win
cpp/winapi/**/*.layout

cpp/Client7z/Asm/
cpp/Client7z/C/
cpp/Client7z/CPP/
cpp/Client7z/DOC/
cpp/Client7z/*.o
cpp/Client7z/*.exe
cpp/Client7z/build

cpp/MediaInfoDLL/*.o
cpp/MediaInfoDLL/*.exe
cpp/MediaInfoDLL/*.dll
cpp/MediaInfoDLL/*.ogg
cpp/MediaInfoDLL/build/

cpp/ExifToolWrapper/*.o
cpp/ExifToolWrapper/*.exe
cpp/ExifToolWrapper/*.zip
cpp/ExifToolWrapper/ExifToolWrapper_*
cpp/ExifToolWrapper/exif-samples-master/
cpp/ExifToolWrapper/build/

cpp/cpp_exiftool*

cpp/FileMeta/*.exe
cpp/FileMeta/*.cs
